mat-sidenav-container{
    height: 100vh;
    background-color: #e8f1f5;
}

mat-sidenav-container:hover{
    width: 250px;
}

mat-sidenav-container, mat-sidenav, mat-sidenav-content{
    transition: all .3s ease-in-out
}

@media screen and (max-width:768px) {
    mat-sidenav-container{
        display: none;
    }
}