.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.plant-details{
    border: none;
    color: #FBFCFC;
    background-color: #33A3AA;
    padding: 3px 15px;
    border-radius: 5px;
}

.view-more{
    border: none;
    background-color:#FBFCFC
}

tr:hover{
    background-color: #eef2f6;
}

.selected-row{
    font-weight: 600;
    background-color: #eef2f6;
}

.card-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
}