section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFBFB;
}
.contenedor{
    display: flex;
    width: 80%;
}

.img-container{
    max-width: 900px;
    overflow: hidden;
    background: linear-gradient(#33A3AA 100%, #107076 100%);
}

.welcome{
    position: absolute;
    top: 30%;
    left: 15%;
    color: #eef1f1;
    font-size: smaller;
    width: 30%;
    >h1{
        font-size: 40px;
    }
    >p{
        font-size: 16px
    };
}

.feature-card{
    display: flex;
    margin-top: 30px;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5rem;
    padding: 40px;
    border-radius: 30px;
    background: #eef1f1;
    z-index: 1;
}

img{
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    opacity: 20% !important;
}

@media screen and (max-width:1150px) {
    
    .welcome{
        top: 30%;
        h1{
            font-size: 30px;
        }
        p{
            font-size: 14px;
        }
    }
}

@media screen and (max-width:767px) {
    .img-container{
        display: none;
    }
    .login-container{
        margin-left: 0;
        border: 1px solid #b8bdbd
    }
}
