.sidenav-header{
    text-align: center;
    > img{
        border-radius: 100%;
        object-fit: cover;
        transition: 0.3s ease;
    }
}

a[mat-list-item] {

    span[matListItemTitle], mat-icon {
        transition: color 0.3s ease;/*creo que falta el color*/
      }

    &:hover {
      span[matListItemTitle], mat-icon{
        color: #000000;
      }
    }
  }

  .active-link span {
    color: #000000 !important;
    font-weight: 500;
  }
  
  .active-link mat-icon {
    color: #000000 !important;
  }


.header-text{
    > h2{
        margin: 0;
        line-height: 24px;
        font-weight: 400;
    }
    >p{
        margin: 0;
        font-size: 12px;
    }
}

.icon-label{
    font-size: 14px;
}

