<form class="example-form" [formGroup]="signUpForm">
    <h3>Register</h3>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="confirmPassword">
        @if (signUpForm.get('confirmPassword')?.hasError('notSame')) {
            <mat-error>Passwords do not match</mat-error>
        }
    </mat-form-field>
    <br>
    <br>
    <button mat-stroked-button (click)="submit()">Next</button>
</form>
